body{

    background-color: black;
    color: palevioletred;

    overflow-x: hidden;
    margin: 0;
}
.container{

    background-color: rgb(16, 17, 17);
    transition: transform 0.5s linear;
    transform-origin: top left;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    
}

.container.show-nav{
    
    
   

transform: rotate(-20deg);
}

.circle-container{
    background-color: aqua;
    border-radius: 50%;

    position: fixed;
    top: -100px;
    left: -100px;
    
}

.circle{


   
    height: 200px;
    width: 200px;
   
    transition: transform 0.5s linear;
   


    position: relative;
}

.circle button{


    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: white;
}

.circle button#open{
left: 130px;

}

.circle button#close{
   top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
    
    }

    .contant img{

        max-width: 100%;
    }

    .contant{

        max-width: 1000px;
margin: 50px auto;
    }

    .contant small{

        font-style: italic;
        color: blue;
    }

    .contant p{
color: rgb(236, 228, 225);
line-height: 1.5;

    }

    nav{
        position: fixed;
        bottom: 40px;
        left: 0;
        z-index: 100;
    }
    nav ul{
        list-style: none;
        padding-left: 30px;
    }

    nav ul li{
        margin: 40px 0;
        transform: translateX(-100%);
        transition: transforn 0.4s ease-in;
    }

    nav ul li + li{
        margin-left: 15px;
        transform: translateX(-150%);
    }

    nav ul li + li+ li{
        margin-left: 30px;
        transform: translateX(-200%);
    }

    .container.show-nav .circle{

        transform: rotate(-70deg)
    }

    .container.show-nav + nav li{
        transform: translateX(0);
        transition-delay: 0.3s;
    }